@font-face { font-family: OrangeJuice; src: url('orange%20juice%202.0.ttf');}
@font-face { font-family: Caviar; src: url('CaviarDreams.ttf');}
@font-face { font-family: Caviar_bold; src: url('CaviarDreams_Bold.ttf');} 
@font-face { font-family: Caviar_italic; src: url('CaviarDreams_Italic.ttf');}
@font-face { font-family: Caviar_bolditalic; src: url('CaviarDreams_BoldItalic.ttf');}
@font-face { font-family: Hambh; src: url('HAMBH.TTF');}


body{
    padding: 0px;
    margin: 0px;
    background: #FFE000;
    background-attachment: fixed;
}
.background {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(trophy.jpg);
}
h1{
    font-family: caviar;
    font-size: 20vw;
    color: #222;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 0px;
}
h2{
    position: absolute;
    color: #222;
    font-family: caviar_bold;
    font-size: 8vw;
    text-align: center;
    width: 100%;
    margin: 0px;
}
h3{
    position: absolute;
    font-family: caviar;
    padding: 50px;
    margin-top: 8vw;
}
.back1, .back2{
    position: absolute;
    width: 100%;
    background-color: #fbfbfb;
}
.back1{
    top: 0px;
    height: 100%;
}
.back2{
    top: 180%;
    height: 100%;
}
.hamburger{
    position: absolute;
    transition: 0.5s;
}
#ham1{
    top: 50px;
    width: 50%;
}
#ham2{
    width: 50%
}
#ham3{
    left: 50%;
    width: 50%
}
.text {
    position: absolute;
    top: 50px;
    width: 50%;
    left: 50%;
}
.hamburger_hover {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
}
.icon{
    position: absolute;
    width: 0%;
    transition: 0.3s cubic-bezier(.5, -1, 1, 1);
    transform: translate(-50%, -50%);
}
.icon_hover {
    width: 6%;
    transition: 0.3s cubic-bezier(0, 0, .5, 2);
    position: absolute;
    fill: #000
}
#icon1 {
    left: 25%;
    top: 
}
#icon2 {
    left: 25%;
    top: 
}
#icon3 {
    left: 75%;
    top: 
}
.footer{
    
}