@font-face { font-family: OrangeJuice; src: url('orange%20juice%202.0.ttf');}
@font-face { font-family: Caviar; src: url('CaviarDreams.ttf');}
@font-face { font-family: Caviar_bold; src: url('CaviarDreams_Bold.ttf');} 
@font-face { font-family: Caviar_italic; src: url('CaviarDreams_Italic.ttf');}
@font-face { font-family: Caviar_bolditalic; src: url('CaviarDreams_BoldItalic.ttf');}
@font-face { font-family: Comfortaa; src: url('Comfortaa-Regular.ttf');}
@font-face { font-family: Comfortaa_bold; src: url('Comfortaa-Bold.ttf');}
@font-face { font-family: Comfortaa_light; src: url('Comfortaa-Light.ttf');}

body {
    background-color: #FFF;
    padding: 0px;
    padding-left: 2vh; 
    margin: 0px; 
    overflow: hidden;
    color: #FFF;
}

#wrapper {
    position: absolute;
    width: 100vw;
    height: 48vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#wrapper2 {
    position: absolute;
    width: 100vw;
    height: 50vw;
    transform: translate(-50%, -50%);
    left: 150%;
    top: 50%;
}

.dlazdice {
    float: left;
    position: relative;
    background: #FFE000;
    height: 31%;
    width: 15.5%;
    margin-top: 1%;
    margin-left: 1%;
    transition: 1s ease-in-out;
    left: 0px;
}

.velka {
    width: 32%;
}

.vetsi {
    width: 48.5%;
}

.modra {
    background: #2980b9;
}
.oranzova {
    background: #d35400;
}
.tyrkysova {
    background: #16a085;
}
.cervena {
    background: #c0392b;
}
.zelena {
    background: #27ae60;
}
.seda {
    background: #2c3e50;
}

/*.dlazdice:hover {
    filter: saturate(1.5);
    -webkit-filter: contrast(1.2) saturate(1.2);
    -moz-filter: saturate(1.5);
}*/

h1 {
    font-family: Comfortaa_bold;
    font-weight: normal;
    margin: 4% 0px;
    font-size: 12vw;
    text-align: center;
}
h2 {
    font-family: Comfortaa_bold;
    font-weight: normal;
    margin: 4% 0px;
    font-size: 9.5vw;
    text-align: center;
}

.obrazek {
    width: 100%;
    height: 100%;
}

.text {
    font-family: Comfortaa;
    text-align: justify;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 1.27em;
}
.source {
    font-family: Comfortaa_Light;
    font-size: 1.1em;
    padding-top: 3px;
}

a , a:visited {
    color: white;
}

@media screen and (max-width: 1400px)
{
    .text {
        font-size: 0.9em;
    }
    .source {
        font-size: 0.8em;
}