@font-face { font-family: OrangeJuice; src: url('orange%20juice%202.0.ttf');}
@font-face { font-family: Caviar; src: url('CaviarDreams.ttf');}
@font-face { font-family: Caviar_bold; src: url('CaviarDreams_Bold.ttf');} 
@font-face { font-family: Caviar_italic; src: url('CaviarDreams_Italic.ttf');}
@font-face { font-family: Caviar_bolditalic; src: url('CaviarDreams_BoldItalic.ttf');}
@font-face { font-family: Comfortaa; src: url('Comfortaa-Regular.ttf');}
@font-face { font-family: Comfortaa_bold; src: url('Comfortaa-Bold.ttf');}
@font-face { font-family: Comfortaa_light; src: url('Comfortaa-Light.ttf');}
@font-face { font-family:Hambh; src: url('HAMBH.TTF')}
@font-face { font-family:Code_bold; src: url('CODE Bold.otf')}
@font-face { font-family:Code_light; src: url('CODE Light.otf')}



body { 
    padding: 0px;
    margin: 0px;
    overflow: hidden
}
.space{
    height: 100%;
    width: 190%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1
}
h1 { font-family:Code_light;
    margin: 0px;
    font-size: 13vmin;
    color: #0aff00;
    left: 2.5%;
    position: absolute;
    padding-top: 1%;
    transition: 0.7s
}




h2 { font-family: Code_bold;
    position: absolute;
    top: 10%;
    font-size: 40vmin;
    color: #fff; 
    margin: 0px;
    left: 2.5%;
}

p{
    position: absolute;
    margin: 0px;
    padding: 0px;
    padding-left: 100%;
    
    color: #fff;
    width: 75%;
    font-family: Code;
    font-size: 6.5vmin
}
#Capa_1{
    position: absolute;
    fill: #fff;
    width: 100%;
    transition: 0.7s;
    height: 100%;
}

.sipka {
    position: fixed;
    top: 50%;
    width: 30%;
    transition: 0.5s;
    height: 40%;
    left: 1%;
    transform-origin: center;
}

.sipka #Capa_1 {
    fill: #0aFF00;
}
.sipka1{
    position: fixed;
    top: 50%;
    width: 30%;
    transition: 0.3s;
    height: 40%;
    left: -5%;
    transform-origin: center;
    transform: scale(0.3) rotate(180deg);

}
.sipka1 #Capa_1 {
    fill: #FFF;
}
.desert_img{
    position: relative;
    left: 107.5%;
    top: 500px;
    width: 25%;
    margin: 7px;
    border: 5px #fff solid
}

